html,
body {
  position: relative;
  height: 100%;
}
body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
}
.swiper-container {
  width: 100%;
}
.swiper-slide {
  width: 100%;
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-pagination {
  position: fixed;
  bottom: 0.7rem;
}
.swiper-pagination-bullet {
  width: 0.5rem;
  height: 0.05rem;
  border-radius: 0;
}
.slide-1 {
  width: 100%;
  height: auto;
  background: url("../img/introduction/start1.jpg") no-repeat;
  padding-top: 178%;
  background-size: cover;
  background-position: center;
}
.slide-2 {
  width: 100%;
  height: auto;
  background: url("../img/introduction/start2.jpg") no-repeat;
  padding-top: 178%;
  background-size: cover;
  background-position: center;
}
.slide-3 {
  width: 100%;
  height: auto;
  background: url("../img/introduction/start3.jpg") no-repeat;
  padding-top: 178%;
  background-size: cover;
  background-position: center;
}
a.openApp {
  width: 2rem;
  height: 0.5rem;
  border: 0.03rem solid #bea474;
  position: absolute;
  bottom: 1.5rem;
  font-size: 0.3rem;
  color: #bea474 !important;
  cursor: pointer;
  text-align: center;
  line-height: 0.5rem;
}
